<h3>
  Search form
</h3>
<form action='/artist-search' method='GET'>
  <label for='q'>
    Search
  </label>
  <input type='text' name='q' id='q' placeholder='e.g. "SCH"' value='{{q}}' />
  <input type='submit' value='Search Spotify' />
</form>